.header, .p{
  text-align: center;
  padding: 51px;
}
.Logo{
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;;
}

.container {
  width: 80%;
  margin: 50% auto;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 45%;
  font-weight: bold;
  margin-bottom: 70px;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.image {
  flex: 1;
  margin-right: 20px;
  overflow: hidden;
  border-radius: 10px;
}

.image img {
  width: 100%;
  transition: transform 0.3s ease;
}

.image:hover img {
  transform: scale(1.1);
}

.content {
  flex: 1;
  margin-left: 20px;
}

.content p {
  font-size: 17px;
  line-height: 1.6;
}

.contentTitle {

  text-align: center;
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 20px;
}

.content-sub {
  text-align: center;
  font-size: 45%;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
  color: #696969;
}
.readmore {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  background-color: black;
  font-size: 17px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  border-radius: 10px;
  transition: 0.3s ease;
}

.readmore:hover {
  background-color: #ccbb25;

}

@media screen and (max-width: 786px) {
  .about-content {
    flex-direction: column;

  }

  .image, .content {
    margin: 0;
    margin-bottom: 20px;
  }

  .title {
    font-size: 38px;
    margin-bottom: 50px;
  }

}

.site-footer {
  text-align: center;
  padding: 40px;
  border-top: 1px solid black;
}
.button:hover {
  background-color: #555;
}



/* Nav Menu*/
#navbar {
   /* Black background color hidden */
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

#navbar a:hover {
  color:darkgrey;
  transform: translate3d(0, -.125rem, 0);

}
h3 {
  text-align: center;
  padding: 12px;
  margin: auto;
}
/* Featured Gallery Style */

.featuredGallery {
  display: flex;
  background-color: transparent;
  overflow: auto;
  white-space: nowrap;
  padding: 20px;
  transform: translate3d(0, -.125rem, 0);
}

#TVheadlines {
  margin: 10px;
  padding: 20px;
}

#ShoutATLheadlines {
  margin: 35px;
}

#Libheadlines {
  margin: 35px;
}

#BJheadlines {
  margin: 35px;
}
