/*
File Name: Portrait.css
Date: 12/25/24
stylesheet for Portrait Page

*/

/* Body Content */

body
{
  padding-left: 20px;
  padding-right: 20px;
  font-family: proxima-nova;
    font-weight: 300;
    font-style: normal;
    font-size: 21px;
    letter-spacing: .02em;
    line-height: 1.4em;
    text-transform: none;
}
body a{
  text-decoration: none;
  color: #717171;
}
